iframe {
        align-items: center;
        border: 5px solid black;
        border-radius: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: 65%;
    }

    .CenterColor {
        text-align: center;
        color: rgb(89, 205, 243);
    }

    body {
        background-color: rgb(8, 112, 182);
        
    }

    #BackButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
        padding: 15px 20px;
        color: white;
        text-align: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        max-width: 200px;
        width: 100%;
        background-color: rgb(36, 184, 184);
    }

    #FullscreenButton {
        display: block;
        margin: 15px auto;
        padding: 10px 20px;
        background-color: rgb(30, 150, 200);
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    #FullscreenButton:hover {
        background-color: rgb(20, 120, 170);
    }

    .color {
        color: rgb(0, 255, 221);
    }
